JOB_SERVER_BASE_URL=http://localhost:3000
WORKER_ID=vm-tunel-01
BASE_POLL_INTERVAL_MS=2000
MONITOR_WS_URL=wss://websocket.traffilog.com:8182/SEU_UUID_AQUI/TOKEN/json?defragment=1
MONITOR_SESSION_TOKEN=PUT_YOUR_TOKEN_HERE
MONITOR_WS_COOKIE=
